
  /* Position and sizing of burger button */
.bm-burger-button {
  position: fixed;
  width: 25px;
  height: 20px;
  left: 80%;
  top: 36px;
  color:'#FFF';
  mix-blend-mode: difference;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  color:'#FFF';
  background: #ffffff;
}

/* Color/shape of burger icon bars on hover*/
.bm-burger-bars-hover {
  background:#ffffff;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 20px;
  width: 20px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #484848;
  z-index:99999;
}

/*
Sidebar wrapper styles
Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
*/
.bm-menu-wrap {
  position: fixed;
  height: 100%;
}

/* General sidebar styles */
.bm-menu {
  display:flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding:0;
  height:100%;
  margin:0;
  overflow-y: hidden;
  background: #F2F2F2;
  font-size: 1.15em;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
  color: #b8b7ad;
  padding:0;
  margin:0;
}

/* Individual item */
.bm-item {
  display: inline-block;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}